@model List<test3.Models.TinTuc>
@{
    ViewBag.Title = "DanhSachTinTuc";
    ViewBag.ac = 1;
}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th colspan="5" style="background-color: #1e81b0; color: #fff;">Thông báo</th>
                    </tr>
                    <tr>
                        <th style="background-color: #e99856">ID</th>
                        <th style="background-color: #e99856">Tiêu đề</th>
                        <th style="background-color: #e99856">Nội dung</th>
                        <th style="background-color: #e99856">Ngày</th>
                        <th style="background-color: #e99856">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tintuc in Model)
                    {
                        <tr>
                            <td>@tintuc.Id</td>
                            <td>@tintuc.TieuDe</td>
                            <td>@tintuc.NoiDung</td>
                            <td>@(tintuc.Ngay != null ? tintuc.Ngay.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td><a href="~/Home/Xoa?id=@tintuc.Id">Xóa</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
