@model test3.Models.Class
@{
    ViewBag.ac = 7;
}

<h2>Thêm lớp</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <form action="@Url.Action("ThemMoiLop", "QLL")" method="post" class="form-horizontal">
                @Html.HiddenFor(model => model.ClassID)

                <div class="form-group">
                    <label for="ClassName" class="col-md-2 control-label">Tên lớp:</label>
                    <div class="col-md-3">
                        <input type="text" name="ClassName" id="ClassName" class="form-control" required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="StartDate" class="col-md-2 control-label">Ngày bắt đầu:</label>
                    <div class="col-md-3">
                        <input type="date" name="StartDate" id="StartDate" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="EndDate" class="col-md-2 control-label">Ngày kết thúc:</label>
                    <div class="col-md-3">
                        <input type="date" name="EndDate" id="EndDate" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="HeadTeacher" class="col-md-2 control-label">Giảng viên:</label>
                    <div class="col-md-3">
                        <input type="text" name="HeadTeacher" id="HeadTeacher" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="MaxStudents" class="col-md-2 control-label">Sinh viên tối đa:</label>
                    <div class="col-md-3">
                        <input type="text" name="MaxStudents" id="MaxStudents" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="DepartmentID">Tên khoa:</label>
                    <div class="col-md-3">
                        @{
                            test3.Models.QuanliSVEntities db = new test3.Models.QuanliSVEntities();
                            List<test3.Models.Department> dsKhoa = db.Departments.ToList();
                        }

                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(dsKhoa, "DepartmentID", "DepartmentName"), "Chọn khoa...", new { @class = "form-control", id = "DepartmentID" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3" id="error-message" style="color: red" ,font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="button" value="Thêm" id="btn-them" class="btn btn-primary">
                    </div>
                </div>

                <div>
                    @Html.ActionLink("Back to List", "DanhSachLop")
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(document).ready(function () {
        $("#btn-them").click(function () {
            var form = $('form')[0];
            if (form.checkValidity() === false) {
                form.reportValidity();
                return;
            }
            var startDate = new Date($("#StartDate").val());
            var endDate = new Date($("#EndDate").val());

            if (startDate > endDate) {
                $("#error-message").text("Ngày kết thúc phải sau ngày bắt đầu.");
                return;
            }
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                data: formData,

                url: window.location.origin + '/QLL/ThemMoiLop',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    Swal.fire({
                        title: 'Thêm thành công',
                        text: 'Bạn có muốn quay trở lại danh sách lớp không?',
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonText: 'Có',
                        cancelButtonText: 'Không'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = window.location.origin + '/QLL/DanhSachLop';
                        } else {
                        }
                    });
                },

                error: function (response) {
                    if (response.responseText === "Tên lớp đã tồn tại.") {
                        $("#error-message").text(response.responseText);
                    } else {
                        alert("Thêm mới thất bại");
                    }

                }
            });
        });
    });

</script>