@*@model List<test3.Models.Khoa>*@
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<test3.Models.Khoa>
@{
    ViewBag.ac = 7;
}

<h2>Danh sách khoa </h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Mã khoa </th>
                        <th>Tên khoa</th>
                        <th>Edit</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                @if (Model != null && Model.Any()) { 
                    <tbody>
                        @foreach (var khoa in Model)
                        {
                            <tr>
                                <td>@khoa.MaKhoa</td>
                                <td>@khoa.TenKhoa</td>
                                <td><a href="~/QLK/Xoa?maKhoa=@khoa.MaKhoa">Xóa</a></td>
                                <td><a href="~/QLK/Suathongtin?maKhoa=@khoa.MaKhoa">Sửa</a></td>
                            </tr>
                        }
                    </tbody>
                    }
            </table>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("DanhSachKhoa", new { page, pageSize = ViewBag.PageSize }))
    </div>

    <div style="display: flex">

        @Html.ActionLink("Export", "ExportKhoa", "Export", null, new { @class = "btn btn-primary", @style = "margin-left: 900px;" })
    </div>
</div>