@model test3.Models.Scholarship
@{
    ViewBag.ac = 17;
}

<h2>Thêm học bổng mới</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <form action="@Url.Action("ThemMoiHocBong", "QLHB")" method="post" class="form-horizontal">
                @Html.HiddenFor(model => model.ScholarshipID)

                <div class="form-group">
                    <label for="ScholarshipName" class="col-md-2 control-label">Tên Học Bổng:</label>
                    <div class="col-md-3">
                        <input type="text" name="ScholarshipName" id="ScholarshipName" class="form-control" required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="StartDate" class="col-md-2 control-label">Ngày bắt đầu:</label>
                    <div class="col-md-3">
                        <input type="date" name="StartDate" id="StartDate" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="EndDate" class="col-md-2 control-label">Ngày kết thúc:</label>
                    <div class="col-md-3">
                        <input type="date" name="EndDate" id="EndDate" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-md-2 control-label">Mô tả:</label>
                    <div class="col-md-3">
                        <input type="text" name="Descriprion" id="Descriptoin" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Conditions" class="col-md-2 control-label">Điều kiện:</label>
                    <div class="col-md-3">
                        <input type="text" name="Conditions" id="Conditions" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="button" value="Thêm" id="btn-them" class="btn btn-primary">
                    </div>
                </div>






                <div>
                    @Html.ActionLink("Back to List", "DanhSachHocBong")
                </div>
            </form>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $("#btn-them").click(function () {
                var form = $('form')[0];
                if (form.checkValidity() === false) {
                    // Nếu biểu mẫu không hợp lệ, không gửi đi
                    form.reportValidity();
                    return;
                }
                var formData = new FormData(form);
                $.ajax({
                    type: "POST",
                    data: formData,
                    contentType: "application/json; charset = utf-8",
                    url: window.location.origin + '/QLHB/ThemMoiHocBong',
                    processData: false,
                    contentType: false,
                    Cache: false,
                    success: function (reponse) {
                        window.location.href = window.location.origin + '/QLHK/DanhSachHocBong';
                    },
                    error: function (response) {
                        alert("Thêm mới thất bại");
                    }
                })
            })
        })
</script>